body,
html {
    padding: 0;
    margin: 0;
    font-family: sans-serif;    
}

* li {
    list-style: none;
}

.router-tab {
    width: 100%;
}

.router-tab a {
    text-decoration: none;
}

.router-tab-item {
    display: inline-block;
    width: calc(100% / 3);
    text-align: center;
}

.router-mine-active {
    font-size: 1.67rem;
    color: rgb(40, 128, 228);    
}

.router-home-active {
    font-size: 1.67rem;
    color: rgb(240, 41, 41);
}

.router-search-active {
    font-size: 1.67rem;
    color: rgb(13, 209, 176);
}