
.read-page-wrapper {
    --backgroundColor: #eee6dd;
    --fontColor: #888277;
    position: absolute;
    top: 0;
    left: 0;
    right: 0; 
    background-color: var(--backgroundColor);
}

.chapter-operator {
    display: flex;
    height: 2.5rem;
    line-height: 2.5rem;
    padding: 0 1rem;
    color: #fff;
    background-color: #b93321;
}

.chapter-content {
    padding: 0 1rem;
}

.chapter-content-title {
    text-align: center;
    font-weight: 600;
}

.chapter-content > p:nth-child(2) {
    text-indent: 2rem;
}

.chapter-content-para {
    line-height: 1.5;
    margin: .13333rem 0;
    text-align: justify;
    color: var(--fontColor);
}

.chapter-operator-top {
    position: fixed;
    display: flex;
    top: 0;
    left: 0;
    transform: translate3d(0, -1.17333rem, 0);
    opacity: 0;
    z-index: 21;
    width: 100%;
    height: 2.7333rem;
    line-height: 2.733rem;
    font-size: 1rem;
    color: #fff;
    background-color: rgba(50,51,52,.9);
    transition: all .2s ease;   
}

.chapter-operator-back {
    padding-left: 1rem;
    flex: 1;
}

.chapter-operator-change {
    text-align: right;
    padding-right: 1rem;
    flex: 1;
}

.chapter-operator-bottom {
    position: fixed;
    bottom: 0;
    left: 0;
    transform: translateY(0, 3.2rem, 0);
    opacity: 0;
    z-index: 21;
    width: 100%;
    color: #fff;
    height: 9.53333rem;
    padding: .53333rem;
    background-color: rgba(50,51,52,.9);
    transition: all .2s ease;
}

.operator-line1 {
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 1rem;
}

.operator-line1-sub {
    flex: 1;
    font-size: 1.53rem;
}

.operator-line1-line,
.operator-line1-line > span {
    position: relative;
    display: inline-block;
    height: .8rem;
    line-height: .8rem;
    text-align: center;
    border-radius: 2px;
    color: #fff;
    font-size: 14px;
    width: 70%;
    height: .05333rem;
    background: #b2b2b2;
    border-radius: .02667rem;
}

.operator-line1-line > span {
    position: absolute;
    background-color: #fff;
    top: 0;
    left: 0;
    width: 50%;
}

.operator-line1-add {
    text-align: right;
    padding-right: 1rem;
    flex: 1;
    font-size: 1.53rem;
}

.show-pannel {
    transform: translate3d(0, 0, 0);
    opacity: 1;
}

.operator-line2 > span {
    display: inline-block;
    width: 25.33%;
    text-align: center;
    margin: 1.33rem 0 0 1rem;
    padding: .33rem 0;
    font-size: 1rem;    
    border: 1px solid #888277;
}

.operator-line3 > span {
    display: inline-block;
    width: 25.33%;
    text-align: center;
    font-size: 1rem;
    margin: 1.33rem 0 0 1rem;
    padding: .33rem 0;
}

.hidden-div {
    height: 100px;
    width: 100%;
}